<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">        
        <div>
            <ul class="nav">
                <li>@Html.ActionLink("Students", "Index", "Student")</li> &nbsp;&nbsp;
                <li>@Html.ActionLink(" Groups ", "Index", "Group")</li>&nbsp;&nbsp;
                <li>@Html.ActionLink(" Courses", "Index", "Course") </li>
            </ul>
        </div>
    </div>
</div>

