@model IEnumerable<Course>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@foreach (var item in Model)
{
    <li>@Html.ActionLink(item.Name, "Details", "Course", new { id = item.Id }, null)</li>
}

